<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <style>
        a{
            text-decoration: none;
            color: black;
        }
        .btn{
          text-align: center;
          align-items: center;
        }
        .btn-primary{
            border: none;
            padding: 10px 20px;
            background-color: aquamarine;
            border-radius: 10px;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    
    <h1 style="text-align: center;">Home page</h1>
    <div class="btn">
    <button class="btn-primary"><a href="{% url 'login' %}">Login</a></button>
    <button class="btn-primary"><a href="{% url 'signup' %}">Signup</a></button>
</div>

</body>
</html>